body{
  background-image: url("music.jpg");


}
.head{
    background-image: linear-gradient(yellow,orange);
width: 22%;
height: 29%;
color:#ffffff;
font-weight: bold;
font-size: 29px;
border: 2px 2px solid rgb(255, 255, 255);
border-radius: 5px;
border-color: rgb(148, 0, 44);
border-style: solid;
}
.note{
    margin-top: 211px;
    background-image: linear-gradient(pink,#F7B3FF );
    font-weight: bold;
    font-size: 15px;
    color: rgb(20, 22, 20);
}
button{
    background-color:#F7B3FF ;
   margin-top: 9px;
    font-weight: bold;
    color:rgb(0, 58, 38);
   
    border-radius: 10px;
}
.speed{
    float: left;
margin-bottom: -444px;


}
.volume{
    float: right;
    margin-bottom: -444px;
 
}
.image{
    width: 200px;
}
canvas{
  margin-left:-66px;
margin-top: 55px;
border-radius: 19px;
}
.nger{
    margin-top: 666px;
    font-family: cursive;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    background-color: #eb4b65;
    width: 10%;
}

